*

!Cargo.toml
!Cargo.lock
!rust-toolchain.toml

!crates/
!crates/**

!warren/
!warren/**

!docker/
!docker/**

**/target/
**/.pytest_cache/
**/__pycache__/
**/*.pyc

.git/
.rvbbit/
bench/
capabilities/
docs/
results/
target/
