{
	admin off
}

clover.rvbb.it {
	reverse_proxy 127.0.0.1:8090

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
	}

	log {
		output stdout
		format json
	}
}
